/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  margin: 50px;
  background-color: #eee;
}

.message {
  margin-top: 25%;
  text-align: center;
  font-size: 700%;
  font-style: italic;
  font-weight: bold;
}

.time {
  text-align: center;
  font-size: 500%;
}